body {
    font-family: "Merriweather", serif;
}

.gradient-text {
    background: linear-gradient(0deg, #000000 0%, #e63946 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Merriweather", serif;
}
